body {
}

h1 {
    color:rgb(0, 0, 0);
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
}

h5 {
    color:gray;
    font-size: 25px;
    text-align: left;
}

h4 {
    color: white;
    padding: 10px;
    margin: 10px;
    background-color: gray;
    text-align:center;
    position:sticky;
    top:0;
    font-size:30px;
}

h3 {
    color: white;
    padding: 10px;
    margin: 10px;
    background-color: rgb(114, 160, 108);
    text-align:center;
    position:sticky;
    top:0;
    font-size:25px;
    font-weight:lighter;
    font-style: italic;
}

p {
    margin: 50px;
    font-size: 20px;
    text-indent: 40px;
}

.centersmall {
    text-align: center;
    font-size: 15px;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.demure {
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.solo {
    margin-left:auto;
    margin-right:auto;
    display:flex;
    justify-content:center;
    align-items:center;
}

.double {
    margin-left:auto;
    margin-right:auto; 
    justify-content:center;
    display:flex;
    flex-direction:row;
    gap:20px;
    align-items:baseline;
}